html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
 
 *, *::before, *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: 
 'roboto', 'open sans', sans-serif;
   
 }

 .container {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between;
   background-color: lightgray;
 }
 
 header {
   height: 20vh;
   width: 100%;
   background-color: navy;
   padding: 2rem;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: sticky;
   top: 0;
   
 }
 
 main {
   display: block;
   background-color: white;
   height: auto;
   width: 100%;
   padding: 2rem; 
 }
 
 footer {
   display: block;
   background-color: navy;
   height: auto;
   width: 100%;
   padding: 2rem;
 
 }
 
 img {
   width: 40%;
   height: auto;
 
 }
 #video {
   width: 40rem;
   height: 20rem;
   padding: 2rem;
   margin: 1rem;
 }
 
 label {
   display: block;
   margin-bottom: 1rem;
 }
 input {
   margin-bottom: 1rem;
 }
 
 
 .nav-link {
   color: white;
   font-size: 2rem;
   text-decoration: none;
   font-weight: bold;
   transition: transform 0.3 ease;
 }
 ul {
   padding: 0;
   margin: 0;
   list-style: none;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   gap: 2rem;
 
 }
 .nav-link:hover {
   color: red;
   
 }
 #submit {
   background-color: navy;
   border: none;
   border-radius: 0.4rem;
   color: white;
   cursor: pointer;
 
 }
 #submit:hover {
   opacity: 0.8;
 }
 hr {
   margin: 2rem 0;
 }
 
 @media only screen and (max-width: 360px) {
   #video {
     width: 30rem;
     margin-left: 0;
     padding-left: 0;
     height: auto;
   }
   #header {
     flex-direction: column;
     padding: 1rem 0;
     height: auto;
     width: 100%;
   }
   #footer {
     flex-direction: column;
     padding: 1rem 0;
     height: auto;
     width: 100%;
   }
   ul {
     gap: 1rem;
   }
 }
 